Chapter4-AzureDataFactory/azuredeploy-adf.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "fhiradf"
        },
        "FhirRestService_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://<myfhir>.azurehealthcareapis.com"
        },
        "FhirRestService_properties_typeProperties_servicePrincipalId": {
            "type": "string",
            "defaultValue": "",
	    "metadata": "ClientID of 'FhirRestService'"
        },
        "FhirRestService_servicePrincipalKey": {
            "type": "string",
            "metadata": "ClientSecret of 'FhirRestService'"
        },
        "FhirRestService_properties_typeProperties_tenant": {
            "type": "string",
            "defaultValue": ""
        },
        "FhirRestService_properties_typeProperties_aadResourceId": {
            "type": "string",
            "defaultValue": "https://<myfhir>.azurehealthcareapis.com"
        },
        "FhirExportAzureBlobPatient_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "Patient.json"
        },
        "FhirExportAzureBlobPatient_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "dataexport"
        },
        "FhirStageAzureBlobPatient_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "Patient.json"
        },
        "FhirStageAzureBlobPatient_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "datastaging"
        },
        "AzureBlobStorage_connectionString": {
            "type": "string",
            "metadata": "ConnectionString of 'AzureBlobStorage'"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/FhirRestService')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "RestService",
                "typeProperties": {
                    "url": "[parameters('FhirRestService_properties_typeProperties_url')]",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "AadServicePrincipal",
                    "servicePrincipalId": "[parameters('FhirRestService_properties_typeProperties_servicePrincipalId')]",
                    "servicePrincipalKey": {
                        "type": "SecureString",
                        "value": "[parameters('FhirRestService_servicePrincipalKey')]"
                    },
                    "tenant": "[parameters('FhirRestService_properties_typeProperties_tenant')]",
                    "aadResourceId": "[parameters('FhirRestService_properties_typeProperties_aadResourceId')]"
                }
            }
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[parameters('AzureBlobStorage_connectionString')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FhirExportAzureBlobPatient')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorage",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureBlob",
                "structure": [
                    {
                        "name": "Prop_0",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": ",",
                        "rowDelimiter": "",
                        "quoteChar": "",
                        "nullValue": "\\N",
                        "encodingName": null,
                        "treatEmptyAsNull": true,
                        "skipLineCount": 0,
                        "firstRowAsHeader": false
                    },
                    "fileName": "[parameters('FhirExportAzureBlobPatient_properties_typeProperties_fileName')]",
                    "folderPath": "[parameters('FhirExportAzureBlobPatient_properties_typeProperties_folderPath')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/FhirRestPatient')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "FhirRestService",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "RestResource",
                "typeProperties": {
                    "relativeUrl": "/Patient",
                    "requestMethod": "GET",
                    "paginationRules": {
                        "AbsoluteUrl": "$.['link'][?(@.relation == 'next')]['url']"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/FhirRestService')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/FhirStageAzureBlobPatient')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorage",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureBlob",
                "structure": [
                    {
                        "name": "resource",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "JsonFormat",
                        "filePattern": "setOfObjects",
                        "jsonNodeReference": "$.['entry']",
                        "jsonPathDefinition": {
                            "resource": "[['resource']"
                        }
                    },
                    "fileName": "[parameters('FhirStageAzureBlobPatient_properties_typeProperties_fileName')]",
                    "folderPath": "[parameters('FhirStageAzureBlobPatient_properties_typeProperties_folderPath')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/FhirExportPatient')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy To Staging",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "RestSource",
                                "httpRequestTimeout": "00:01:40",
                                "requestInterval": "00.00:00:00.010"
                            },
                            "sink": {
                                "type": "BlobSink"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "schemaMapping": {
                                    "[['resource']": "resource"
                                },
                                "collectionReference": "$.entry"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "FhirRestPatient",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "FhirStageAzureBlobPatient",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Copy to ndjson",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Copy To Staging",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "BlobSink"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": {
                                    "resource": "Prop_0"
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "FhirStageAzureBlobPatient",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "FhirExportAzureBlobPatient",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/FhirRestPatient')]",
                "[concat(variables('factoryId'), '/datasets/FhirStageAzureBlobPatient')]",
                "[concat(variables('factoryId'), '/datasets/FhirExportAzureBlobPatient')]"
            ]
        }
    ]
}